.banner{
    position: relative;
}

.banner__img{
    width: 100%;
    height: 100vm;
}

.banner__h2{
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    font-size: 60px;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgb(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;

}